{% extends 'admins/base.html' %}
{% load static %}

{% block content %}
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Удаление заказа</h1>
			<div class="card mb-4">
                <div class="category_delete">
                    <div class="card-header">
                        Уверены, что хотите удалить?
                    </div>
                    <div class="card-body">
                        {% include 'orders/includes/inc_order_summary.html' %}

                        <form action="{% url 'orders:order_delete' object.pk %}" method="post">
                            {% csrf_token %}
                            <input class="btn btn-danger btn-block" type="submit" value="удалить">
                        </form>
                        <button class="btn btn-success btn-block" style="margin-top: 12px;">
                            <a href="{% url 'orders:orders_list' %}">отмена</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}